*{
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Rounded Medium';
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #fd3db5, #ffb8dc);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: #614419;
}
textarea{
    width: 600px;
    height: 250px;
    background: #8c1946;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    height: 50px;
    background: #614419;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1;
    color: #fff;
    background: #8c1946;
    height: 52px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}
@media (max-width: 425px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'arial';
        box-sizing: border-box;
    }
    .hero{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .hero h1{
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 50px;
        margin-left: 40px;
    }
    textarea{
        width: 80%;
        height: 500px;
        overflow: auto;
    }
    .row{
        width: 350px;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    button{
        width: 50%;
        padding: 20px 60px;
        margin: 0;
    }
    button img{
        width: 10px;
    }
    select{
        font-size: x-small;
        background-size: 8px;
        background-position-x: calc(90% - 20px);
        background-position-y: 20px;
        overflow: auto;
    }
}